<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <title>添加接口</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../static/css/templatemo_main.css">
</head>
<body>
  <div id="main-wrapper">
<!--
    <div class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <div class="logo"><h1>Dashboard - Admin Template</h1></div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>
    <div class="template-page-wrapper">
      <div class="navbar-collapse collapse templatemo-sidebar">
        <ul class="templatemo-sidebar-menu">
          <li>
            <form class="navbar-form">
              <input type="text" class="form-control" id="templatemo_search_box" placeholder="Search...">
              <span class="btn btn-default">Go</span>
            </form>
          </li>
          <li><a href="index.html"><i class="fa fa-home"></i>Dashboard</a></li>
          <li class="sub">
            <a href="javascript:;">
              <i class="fa fa-database"></i> Nested Menu <div class="pull-right"><span class="caret"></span></div>
            </a>
            <ul class="templatemo-submenu">
              <li><a href="#">Aenean</a></li>
              <li><a href="#">Pellentesque</a></li>
              <li><a href="#">Congue</a></li>
              <li><a href="#">Interdum</a></li>
              <li><a href="#">Facilisi</a></li>
            </ul>
          </li>
          <li><a href="data-visualization.html"><i class="fa fa-cubes"></i><span class="badge pull-right">9</span>Data Visualization</a></li>
          <li><a href="maps.html"><i class="fa fa-map-marker"></i><span class="badge pull-right">42</span>Maps</a></li>
          <li><a href="tables.html"><i class="fa fa-users"></i><span class="badge pull-right">NEW</span>Manage Users</a></li>
          <li class="active"><a href="#"><i class="fa fa-cog"></i>Preferences</a></li>
          <li><a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i class="fa fa-sign-out"></i>Sign Out</a></li>
        </ul>
      </div>
      -->
      <!--/.navbar-collapse -->
      <div class="templatemo-content-wrapper">
        <div class="templatemo-content">
          <ol class="breadcrumb">
            <li><a href="/index">首页</a></li>
            <li class="active">编辑接口</li>
          </ol>
          <h1>Notes:</h1>
          <p class="margin-bottom-15">添加一个接口 ........</p>
          <div class="row">
            <div class="col-md-12">
              <form role="form" method="POST" id="templatemo-preferences-form" action="/update_interface/{{ obj.id }}">
                  <div style="display: none">
                      <input type="text" class="form-control" name="id" placeholder="" value="{{ obj.project_id }}">
                  </div>
                <div class="row">
                  <div class="col-md-12 margin-bottom-15">
                    <label for="lastName" class="control-label">接口名称</label>
                    <input type="text" class="form-control" name="name" placeholder="请输入接口名" value = "{{ obj.name }}" >
                  </div>
                  <div class="col-md-12 margin-bottom-15">
                    <label for="lastName" class="control-label">请求地址</label>
                    <input type="text" class="form-control" name="url" placeholder="请输入服务器地址" value = "{{ obj.url }}">
                  </div>
                    <div class="col-md-12 margin-bottom-15">
                    <label for="lastName" class="control-label">服务名</label>
                    <input type="text" class="form-control" name="service_name" placeholder="请输入服务名" value = "{{ obj.service_name }}">
                  </div>
                 <div class="col-md-12 margin-bottom-15">
                  <label for="lastName" class="control-label">方法名</label>
                  <input type="text" class="form-control" name="func" placeholder="方法名"  value = "{{ obj.func }}">
                 </div>
                    <div class="col-md-12 margin-bottom-15">
                  <label for="lastName" class="control-label">请求体名</label>
                  <input type="text" class="form-control" name="func" placeholder="请求体名"  value = "{{ obj.request }}">
                 </div>
                  <div class="col-md-12 margin-bottom-15">
                   <label for="lastName" class="control-label">接口开发者</label>
                   <input type="text" class="form-control" name="developer" placeholder="接口开发者"  value = "{{ obj.developer }}">
                  </div>
                   <div class="col-md-12 margin-bottom-15">
                    <label for="firstName" class="control-label">备注</label>
                    <textarea name ="notes" class="form-control" rows="4" >{{ obj.notes }}</textarea>
                    </div>

                </div>

              <div class="row templatemo-form-buttons">
                <div class="col-md-12 ">
                  <button type="submit" class="btn btn-primary">保存</button>
                  <a href= '' class="btn btn-default">取消</a>
                </div>
                  <div class="col-md-12 margin-bottom-15">
                  {{ error }}
                  </div>
              </div>
                  {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/templatemo_script.js"></script>
</body>