<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <title>API Test System </title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../static/css/templatemo_main.css">
  <link rel="stylesheet" href="../static/css/font-awesome.min.css">
</head>
<body>
  <div id="main-wrapper">
    <div class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <div class="logo"><h1>API Test System </h1></div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>
    <div class="template-page-wrapper">
      <!--左侧导航栏-->
      <div class="navbar-collapse collapse templatemo-sidebar">
        <ul class="templatemo-sidebar-menu">
          <li>
            <form class="navbar-form">
              <input type="text" class="form-control" id="templatemo_search_box" placeholder="Search Testcase...">
              <span class="btn btn-default">GO</span>
            </form>
          </li>
           <li class="sub">
            <a href="javascript:;">
              <i class="fa fa-home"></i> 项目总览 <div class="pull-right"><span class="caret"></span></div>
            </a>
            {% for project in projects %}
            <ul class="templatemo-submenu">
              <li ><a  href="project.html/?projectid={{ project.id }}"> {{ project.name }}</a></li>
            </ul>
           {% endfor %}
            <ul class="templatemo-submenu">
              <li ><a href="/addProject/">+添加项目</a></li>
            </ul>
          </li>

          <li><a href="/result/"><i class="fa fa-cubes"></i>测试报告</a></li>
          <li><a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i class="fa fa-sign-out"></i>退出登录</a></li>
        </ul>
      </div>
     <!--右侧内容-->
      <div class="templatemo-content-wrapper">
        <div class="templatemo-content">
        <!--面包树-->
          <ol class="breadcrumb">
            <li><a href="/index">首页</a></li>
          </ol>
          <p>欢迎使用......</p>
        <!--测试用例列表-->
        </div>
      </div>
      <!-- 退出确认弹窗 -->
      <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Are you sure you want to sign out?</h4>
            </div>
            <div class="modal-footer">
              <a href="/login/" class="btn btn-primary">Yes</a>
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
      </div>
</div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/templatemo_script.js"></script>
  </body>
</html>
