<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <title>报告列表 </title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../static/css/templatemo_main.css">
  <link rel="stylesheet" href="../static/css/font-awesome.min.css">
</head>
<body>
  <div id="main-wrapper">
    <div class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <div class="logo"><h1>Reprot list </h1></div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>
    <div class="template-page-wrapper">
      <div class="navbar-collapse collapse templatemo-sidebar">
        <ul class="templatemo-sidebar-menu">
            {% for i in dates %}
              <li class="sub">
            <a href="javascript:;">
              <i class="fa fa-database"></i>{{ i.time }}<div class="pull-right"><span class="caret"></span></div>
            </a>
                  {% for j in i.data %}
            <ul class="templatemo-submenu">
                    {% if j == '暂无测试报告'  %}
              <li><a href="">{{ j}}</a></li>
                    {% else %}
              <li><a href="/report_detail/?id={{ j.id }}">{{ j.test_time}}</a></li>
                    {% endif %}
            </ul>
                  {% endfor %}

          </li>
            {% endfor %}
        </ul>
      </div>
        <!--/.navbar-collapse -->
      <div class="templatemo-content-wrapper">
        <div class="templatemo-content">
          <ol class="breadcrumb">
            <li><a href="/index">首页</a></li>
            <li class="active">测试报告</li>
          </ol>
          <h1>Test Report </h1>
          <p>Here you can see your report list ......</p>
         <!--
          <div class="row margin-bottom-30">
            <div class="col-md-12">
              <ul class="nav nav-pills">
                <li class="active"><a href="#">New Users <span class="badge">42</span></a></li>
                <li><a href="#">Active Users <span class="badge">107</span></a></li>
                <li><a href="#">Expired Users <span class="badge">3</span></a></li>
              </ul>
            </div>
          </div>
         -->
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Are you sure you want to clean report list?</h4>
            </div>
            <div class="modal-footer">
              <a href="/login/" class="btn btn-primary">Yes</a>
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>

        <!--
      <footer class="templatemo-footer">
        <div class="templatemo-copyright">
          <p>Copyright &copy; 2017 qianbingbing</p>
        </div>
      </footer>
      需要让它底部对齐-->
    </div>
</div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/templatemo_script.js"></script>
  </body>
</html>